<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554894202387-bf980vt9a0kjlmm7imb9lmb3vtmfrqga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554894202387-bf980vt9a0kjlmm7imb9lmb3vtmfrqga</string>
	<key>API_KEY</key>
	<string>AIzaSyC1WQ9rT0qP1QDy_T4fXoppyEqZ3UJ-AdM</string>
	<key>GCM_SENDER_ID</key>
	<string>554894202387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.johnchoi96.EmployeeManager</string>
	<key>PROJECT_ID</key>
	<string>employeemanager-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>employeemanager-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554894202387:ios:ab103ebe97f64066b491e6</string>
	<key>DATABASE_URL</key>
	<string>https://employeemanager-ios.firebaseio.com</string>
</dict>
</plist>